<configuration>
    <system.webServer>
        <!-- indicates that the server.js file is a node.js application to be handled by the iisnode module -->
        <handlers>
            <add name="iisnode" path="server_Local.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^(.*?)/?api(.*)$" />
                    <action type="Rewrite" url="http://localhost:7702/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
        </staticContent>
    </system.webServer>
</configuration>